<link rel="stylesheet" href="/css/home.css">

<br><br>
<br><br>

<section id="main-body">

    <section id="feed-posts">
        <div id="posting-area">
            <h4>POST HERE</h4>
            <form action="/post/create" method="POST" id="new-post-form">
                <textarea name="content" id="" cols="60" rows="4" placeholder="type here..."></textarea>
                <button type="submit">Post</button>
            </form>
        </div>
    
        <!-- show all posts  -->
        <div id="posts-list-container">
            <ul type="none">
                <% for(post of posts){ %>
                    <li id="post-<%=post._id%>"><p>
                        

                        <small class="user-name"><%= post.user.name %> posted</small> 

                        <% if(locals.user.id == post.user._id){ %>
                            
                            <a href="" class="edit-button" id="edit-button-<%=post._id%>"><i class="fa-regular fa-pen-to-square"></i>edit</a>
                            
                                <form action="/post/edit/?postId=<%=post._id%>&userId=<%=locals.user.id%>" method="POST" class="hide edit-section" id="edit-section-<%=post._id%>" value="<%=post.content%>">
                                    <textarea name="content" id="" cols="30" rows="3" ><%=post.content%></textarea>
                                    <button type="submit">submit</button>
                                </form>
                            
                        <% } %>

                        <p class="post-content" id="post-content-<%=post._id%>">
                            <%= post.content %>
                        </p>

                        <small class="time"><%= post.createdAt %></small>
                        <!-- a user can only delete its own post  -->
                        <% if(locals.user.id == post.user._id){ %>
                            <small><a href="/post/destroy/<%= post._id %>" class="delete-post-button"><i class="fa-regular fa-trash-can"></i></a></small>
                        <% } %>
                        
                        <!-- <% if(locals.user.id == post.user._id){ %>
                            <small><a href="/post/edit/?postId=<%= post._id %>&postUserId=<%= post.user._id %>" class="edit-post-button">edit</a></small>
                        <% } %> -->
                    </p></li>
                <% } %>
            </ul>
        </div>
    </section>
    
    <section id="user-list">
        <h3>Users</h3>
        <ul type="none">
            <% for(usr of allUsers){ %>
                <li id="user-<%= usr._id %>"> <p>
                    <%= usr.name %> 
                    
                    <% if(locals.user.id != usr._id){ %>
                          <form action="/friendship/toggle-friendship/<%= usr._id %>" class="friendship-toggle-button" method="POST">
                            <% if(usr.friends.includes(locals.user.id)){ %>
                                <button type="submit" class="follow-class">following</button>
                            <% }else{ %>
                                <button type="submit">follow</button>
                            <% }%>
                          </form>
                    <% } %>      
                </p></li>
            <% } %>
        </ul>
    </section>


</section>


<script src="/js/edit_post.js"></script>
<script src="/js/friendship_toggler.js"></script>
<script src="/js/home_posts.js"></script>

